<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Carpool</title>

    <!-- Bootstrap and jQuery are in our static folder-->
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Included both the datetime and the date version of these files so either can be used -->
    <link href = "/static/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href = "/static/bootstrap/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datepicker.min.js"></script>
    

  </head>
  <body>
    <!-- All of your HTML will go between here.... -->
    <h1>Carpool: Find a Ride</h1>
    <form method="POST" action ="/welcome/">
      <input name = "first_name_text" id="id_first_name" placeholder="First Name"/>
      <input name = "last_name_text" id="id_last_name" placeholder="Last Name"/>
      <input name = "start_text" id="id_start" placeholder="Start Location"/>
      <input name = "end_text" id="id_end" placeholder="End Location"/>
        
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" placeholder = "Date" name="date_text" id="id_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datepicker("getDate");
            });
        </script>
        
        <style>
            #datetimepicker1 {
              width: 25%;
              float: right;
              margin-right: 30em;
            }
        </style>

    </div>
    <br><br>
      <!-- <a href = "/welcome/">Submit</a> -->
      <button id="id_new_driver_btn"
            type="submit"
            name = "newDriver"
            class="btn btn-primary"
            >New Driver</button>
     <button id="id_new_rider_btn"
             type="submit"
             name = "newRider"
             class="btn btn-primary"
			 formaction=""
            >New Rider</button>
      {% csrf_token %}
    </form>

  
  </body>
</html>
