<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Carpool</title>

    <!-- Bootstrap and jQuery are in our static folder-->
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Included both the datetime and the date version of these files so either can be used -->
    <link href = "/static/bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href = "/static/bootstrap/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap-datepicker.min.js"></script>

    <script src="/static/js/popups.js"></script>
    <script src="/static/js/google-maps-integration.js"></script>
    <link href = "/static/css/home-page.css" rel = "stylesheet">
    <style>
      #buttons {
        float: center;
      }
      #datetimepicker1 {
        width: 75%;
        <!-- float: left;
        --> <!-- margin-right: 30em;
        -->
      }
      #data-info {
        margin: auto;
        width: 60%;
        border: 3px;
        padding: 10px;
      }
    </style>


  </head>
  <body bgcolor="#E6E6FA">
    <!-- All of your HTML will go between here.... -->
    <div class ="container">
    	<div class = "jumbotron">
      	<h1 id = "pageTitle" class = "text-center">Carpool: <small>Find a Ride</small></h1>
      	<p id ="tagLine" class= "text-center">Better environment. Better society.</p>
    	</div>

      <div id = "data-info">
        <form method="POST" action ="/welcome/" onsubmit="return showConfirmPrompt();">
          <div >
        		<p>Who are you?</p>
        		<input name = "first_name_text" id="id_first_name" placeholder="First Name" />
        		<input name = "last_name_text" id="id_last_name" placeholder="Last Name"/>
            <br>
            <br>
            <p>Where are you going?</p>
        		<input name = "start_text" id="id_start" placeholder="Start Location"/>
        		<input name = "end_text" id="id_end" placeholder="End Location"/>
            <div class = "hidden">
              <input type = "label" value = "Start Geolocation:" readonly>
              <input type = "label" value = "End Geolocation:" readonly><br>
              <input name = "start_lat_lng" id = "id_start_lat_lng" readonly>
              <input name = "end_lat_lng" id = "id_end_lat_lng" readonly>
            </div>
            <br>
            <br>
            <div class='input-group date' id='datetimepicker1'>
              <p>When are you traveling?</p>
              <input type='text' class="form-control" placeholder="Date" name="date_text" id="id_date" />
              <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
              </span>

              <script type="text/javascript">
                $(function() {
                  $('#datetimepicker1').datepicker("getDate");
                });
              </script>
            </div>
            <br>
            <br>
            <div id="buttons">
              <button id="id_new_driver_btn" type="submit" name="newDriver" class="btn btn-primary">New Driver</button>
              <button id="id_new_rider_btn" type="submit" name="newRider" class="btn btn-primary">New Rider</button>
              {% csrf_token %}
            </div>
          </div>
        </form>
      </div>
  </div>
  {% if error %}
  <br>
  <div class="alert alert-warning fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Warning!</strong> {{ error }}
  </div>
  {% endif%}


  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZZtPU9QvqJq4de_uGdvZmBA-srtgDQjQ&signed_in=true"
    async defer>
  </script>
</html>
