

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>

    <!-- The classes for parsing Python Django data in to JS Data -->
    <script src="/static/js/parsing.js"></script>

    <!-- The custom stylesheet for this page saved in statics -->
    <link href="/static/css/driver-map.css" rel="stylesheet">

  </head>
  <body>
    <div>{{rider_list}}</div>
    <div id="map"></div>

	<table>
          <td>{{ user_first_name }}</td>
          <td>{{ user_last_name }}</td>
          <td id = "startLoc">{{ user_start_loc }}</td>
          <td id = "endLoc">{{ user_end_loc }}</td>
          <td>{{ user_date }}</td>
    </table>

    <!-- A hidden div to store all the rider info -->
    <style>
      #riders {
        display: none;
      }
    </style>

    <div id = "riders">
      {{ list_of_riders }}
    </div>

    <script src = "/static/js/initialize-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZZtPU9QvqJq4de_uGdvZmBA-srtgDQjQ&signed_in=true&callback=initMap"
        async defer></script>
  </body>
</html>
