

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Directions service</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 75%;
		    width: 75%;
      }
    

    </style>



  </head>
  <body>
    <div>{{rider_list}}</div>
    <div id="map"></div>

    <table>
          <td>{{ user_first_name }}</td>
          <td>{{ user_last_name }}</td>
          <td id = "startLoc">{{ user_start_loc }}</td>
          <td id = "endLoc">{{ user_end_loc }}</td>
          <td>{{ user_date }}</td>
    </table>
    
    <!-- A hidden div to store all the rider info -->
    <style>
      #riders {
        display: none;
      }
    </style>

    <div id = "riders">
      {{ list_of_riders }}
    </div>

    <script>

    // A class used to parse objects from a SQL Lite Database in the Python DjangoFramework
    function PythonDatabaseObjectParser (){};

    // Takes a single object and returns it as an array of parameters (removes object header)
    PythonDatabaseObjectParser.prototype.parseObjectAsArray = function(objectAsText, obectHeaderString) {
        // Removes the header
        objectAsText = objectAsText.replace(obectHeaderString + ": ", "");
        // And the chevrons
        objectAsText = objectAsText.replace("<", "");
        objectAsText = objectAsText.replace(">", "");

        var objectAsArray = objectAsText.split(",");

        return objectAsArray;
    };

    // Parses a single string into an array of strings: still in the SQL Lite database format
    PythonDatabaseObjectParser.prototype.parseStringAsStringArray = function(objectArrayAsText) {    
        objectArrayAsText = objectArrayAsText.replace("]", "");
        objectArrayAsText = objectArrayAsText.replace("[", "");
        return objectArrayAsText.split(", ")

    }

    // Parses a single string in the SQL Lite database format into a matrix of strings (2D Array)
    PythonDatabaseObjectParser.prototype.parseObjectArrayAsStringMatrix = function(
      objectArrayAsTextArray, 
      objectHeaderAsString) {

      objectArrayAsTextArray = this.replaceEscapeCharacters(objectArrayAsTextArray);

      var allObjectsAsStringArrays = [];
      
      var allObjectsAsStrings = this.parseStringAsStringArray(objectArrayAsTextArray);
    
      for (var i = 0; i < allObjectsAsStrings.length; i++) {
        allObjectsAsStringArrays.push(this.parseObjectAsArray(allObjectsAsStrings[i], objectHeaderAsString));
      }    

      return allObjectsAsStringArrays;

    }

    // Used to replace special characters in the SQL Lite string (preprocessing function)
    PythonDatabaseObjectParser.prototype.replaceEscapeCharacters = function(objectsAsString) {
        objectsAsString = objectsAsString.replace(/&lt/g, "<");
        objectsAsString = objectsAsString.replace(/&gt/g, ">");
        objectsAsString = objectsAsString.replace(/\n/g, "");
        objectsAsString = objectsAsString.replace(/;/g, "");
        return objectsAsString;
    }

    // Used to represent a user in JavaScript
    function User (lastName, firstName, start, end, date) {
      this.firstName = firstName;
      this.lastName = lastName;
      this.start = start;
      this.end = end;
      this.date = date;
    }

    // Static function: creates a user from a string array of length 5
    User.parseFromStringArray = function (stringArray) {
        return new User (
            stringArray[0],
            stringArray[1],
            stringArray[2],
            stringArray[3],
            stringArray[4]
        );
    }

    // Takes a 2D array of strings and parses as an array of users
    // intended to be used in conjunction with: parseObjectArrayAsStringMatrix
    User.parseFromStringArrayMatrix = function (stringMatrix) {
      users = [];
      for (var i = 0; i < stringMatrix.length; i++) {
          users.push(User.parseFromStringArray(stringMatrix[i]));
      }
      return users;
    }

    // Initializes a new parser
    parser = new PythonDatabaseObjectParser();

    // Pulls the SQL Lite string output from the HTML element it's injected into and converts it into a 2D Array of strings
    var allRiders = parser.parseObjectArrayAsStringMatrix(document.getElementById("riders").innerHTML, "Rider");

    // Converts the 2D string array into a list of users
    allRiders = User.parseFromStringArrayMatrix(allRiders);

    // Debugs out the users
    console.log(allRiders);



function initMap() {
  var directionsService = new google.maps.DirectionsService;
  var directionsDisplay = new google.maps.DirectionsRenderer;
  var geocoder = new google.maps.Geocoder();
  var infoWindow = new google.maps.InfoWindow(), marker, i;
  var bounds = new google.maps.LatLngBounds();
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: {lat: 39.82, lng: -98.57}
  });
  directionsDisplay.setMap(map);
  calculateAndDisplayRoute(directionsService, directionsDisplay);


	for( i = 0; i < allRiders.length; i++ ) {
        geocoder.geocode( { 'address': allRiders[i].start}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				var marker = new google.maps.Marker({
					map: map, 
					position: results[0].geometry.location
				});
			} else {
				alert("Geocode was not successful for the following reason: " + status);
			}
		});
	

		google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
	}

  }

function calculateAndDisplayRoute(directionsService, directionsDisplay) {

  directionsService.route({
    origin: document.getElementById('startLoc').innerHTML,
    destination: document.getElementById('endLoc').innerHTML,
    travelMode: google.maps.TravelMode.DRIVING
  }, function(response, status) {
    if (status === google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    } else {
      window.alert('Directions request failed due to ' + status);
    }
  });
}

var markers = [
        [[37.449885,-122.196584], [37.49, -122.20], "Fed"],
        ];



var riders = document.getElementById("riders");
console.log(riders)
var infoWindowContent = [
        ['<div class="info_content">' +
        '<h3>' + allRiders[0].start + '</h3>' +
        '<p>This is test information.</p>' +
		'</div>'],
        ['<div class="info_content">' +
        '<h3>Test End</h3>' +
        '<p>This is test info end</p>' +
        '</div>']
    ];


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZZtPU9QvqJq4de_uGdvZmBA-srtgDQjQ&signed_in=true&callback=initMap"
        async defer></script>


  </body>
</html>
